@font-face {
    font-family: "Open Sans";
    src: url(OpenSans-Regular.ttf)format("truetype")
}
 *, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none; 
 }
 body {
    height:100vh;
    background:#000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("dj-grayscale2.png");
    background-size: cover;
    background-attachment: fixed;
 }
 .container1{
   display:grid;
 }
 nav{
    text-transform: capitalize;
    position:fixed;
    top:0; left:0; right:0;
    background:#3131abe9;
    padding:0px 7%;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    z-index:999;
    grid-area: nav;
 }
figure{
   padding:2%;
   grid-area:figure;
   display:flex;
   flex-direction: row;
   justify-content:center;
   
}
section{
  grid-area: section;
  color:white;
}
video {
width:426px;
max-width:100%;
min-height:240px; 
border: 1px solid #3231ab;
border-radius:3px;
} 
audio {
   border: 1px solid #3231ab;
   border-radius:3px;
}
video[poster]{
   object-fit:cover; 
}
 header{
    grid-area:header;
    padding:5%;
 }
 header h1{
    color: white;
    
  }
  /* header div{
    margin:5% 5%;
  } */ 
  #facebook{
    margin-left:2%;
  }
 main{
    grid-area:main;
    margin-bottom:1%;
    color:#ffffff;
    padding:1%;
 }
 footer{
    grid-area:footer;
    color:white;
    background-color:#3131aba5;
    text-align:center;
  }








  /*---------------------------For Nav----------------------------*/
 nav .placeholder{
    font-weight:bolder;
    font-size:25px;
    
    color:transparent;
 }
 .logo{
    position:absolute;
    top:5px;
    left:20px;
    height:35px;
    z-index:1000;
 }
 .small-logo{
    display:none;
    top:5px;
    left:10px;
    height:50px;
    z-index:1000;
 }
 .active{
    background:navy;
 }
 
 nav .navbar ul{
    list-style:none;
    
 }
 nav .navbar ul li{
    position:relative;
    float:left;
 }
 nav .navbar ul li a{
    font-size:20px;
    padding:10px 20px;
    color:#ffffff;
    display:block;
 }
 nav .navbar ul li a:hover{
    background:navy;
    color:#ffffff;
 }
 nav .navbar ul li ul{
    position:absolute;
    left:0;
    width:200px;
    /* background: #3131abe9; */
    /* display:none; */
 }
 nav .navbar ul li ul li{
    width:100%; 
    border-top: 1px solid navy;
    background:#4562a7;
    display:none; 
    opacity:0;

 }
 nav .navbar.touch ul li:focus-within > ul{
   display: initial;
 }
 nav .navbar ul li:hover > ul{
    display: initial;
 }
 nav .navbar.touch ul li:focus-within > .dropdown-menu2 > li{
   display: initial;
 }
 nav .navbar ul li:hover > .dropdown-menu2 > li{
    display: initial;
 }
 /* .dropdown-menu2 > li {
   display:none;
 } */

 nav .navbar.touch ul li:focus-within > .dropdown-menu1 > li{
   display: initial;
 }
 nav .navbar ul li:hover > .dropdown-menu1 > li{
    display: initial;
 }

 .dropdown-menu1 > .dropdown-item1 {
   transform-origin: top center;
   animation: translateY 300ms 70ms ease-in-out forwards;
 }

 .dropdown-menu2 > .dropdown-item1 {
   transform-origin: top center;
   animation: translateY 300ms 45ms ease-in-out forwards;
 }
 .dropdown-menu2 > .dropdown-item2 {
   transform-origin: top center;
   animation: translateY 300ms 90ms ease-in-out forwards;
 }
 .dropdown-menu2 > .dropdown-item3 {
   transform-origin: top center;
   animation: translateY 300ms 135ms ease-in-out forwards;
 }
 .dropdown-menu2 > .dropdown-item4 {
   transform-origin: top center;
   animation: translateY 300ms 170ms ease-in-out forwards;
 }
 @keyframes translateY{
   0% {
      
      opacity: 0;
      transform: translateY(0px);
   }
   80% {
      opacity: 1;
      transform: translateY(0px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
      display:initial;
   }
 } 

 @keyframes translateX{
  0% {
     
     opacity: 0;
     transform: translateX(70px);
  }
  80% {
     opacity: 0;
     transform: translateX(-10px);
  }
  100% {
     opacity: 1;
     transform: translateX(0px);
     display:initial;
  }
} 
 /* #menu-bar{
    display:none;
 } */
 .menu-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   cursor: pointer;
   transition: all .35s ;
   /* border: 3px solid #fff; */
 }
 .menu-btn__burger {
   display: none;
   width: 40px;
   height: 6px;
   background: #fff;
   border-radius: 5px;
   
   transition: all .35s ;
 }
 .menu-btn__burger::before{
   display:none;
 }
 .menu-btn__burger::before,
 .menu-btn__burger::after {
   display:none;
   content: '';
   position: absolute;
   width: 40px;
   height: 6px;
   background: #fff;
   border-radius: 5px;
   
   transition: all .35s ;
 }
 .menu-btn__burger::before {
   transform: translateY(-16px);
 }
 .menu-btn__burger::after {
   transform: translateY(16px);
 }
 /* ANIMATION */
 .menu-btn.open .menu-btn__burger {
   transform: translateX(-40px);
   background: transparent;
   box-shadow: none;
 }
 .menu-btn.open .menu-btn__burger::before {
   transform: rotate(45deg) translate(35px, -35px);
 }
 .menu-btn.open .menu-btn__burger::after {
   transform: rotate(-45deg) translate(35px, 35px);
 }

 nav label{
    font-size: 20px;
    color:#ffffff;
    cursor:pointer;
    display:none;
 }





 .spacer-area span{
   color:transparent;
 }









 /*---------------------------For Homepage main----------------------------*/
 .intro{
   grid-area: intro;
   padding:5px;
   text-align:center;
   background: #3131aba5;
 }
 .intro p{
   font-size:1.25em;
 }
 .DJ{
   grid-area:dj;
 }
 .services{
   grid-area:services;
 }
 .reviews{
   grid-area:reviews;
   
 }
 .plus {
   color:lime;
 }
 .nestedgrid1 div h3{
   color:#95e712;
 }
 #homevid {
   grid-area: homevid;
 }
 #homesong{
   grid-area: homesong;
 }

/*---------------------------For Swiper----------------------------*/
.swiper-container {
  width: 100vw;
  height: 56vw;
  transition: opacity .6s ease;
  }
  
  .swiper-container.swiper-container-coverflow {
  padding-top: 2%;
  }
  
  .swiper-container.loading {
  opacity: 0;
  visibility: hidden;
  }
  
  .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  }
  
  .swiper-slide {
  background-position: center;
  background-size: cover;
  
  }
  
  .swiper-slide .entity-img {
      display: none;
  }
  
  .swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
  }
  
  .swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
  }
  
  .swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  }
  
  [class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  }
  
  .swiper-button-prev {
  transform: translateX(50px);
  }
  
  .swiper-button-next {
  transform: translateX(-50px);
  }

 /* .emptydiv {
   color:transparent;
   grid-area:emptydiv;
 } */
 /* .figuregrid {
   grid-template-columns: auto;
   grid-template-areas: 
   "homevid"
   "hoemsong";
} */
/*---------------------------Mobile Layout----------------------------*/
.spacer-area{
   grid-area:spacer;
   height:75px;
}
.nestedgrid1 {
   
   display:grid;
   grid-template-columns: auto;
   grid-gap:1%;
   grid-template-areas:
   "intro"
   "dj"
   "services"
   "reviews";
}
.container1{
   display:grid;
    grid-template-columns: auto; 
    grid-template-areas:
    "nav"
    "spacer"
    "header"
    "figure"
    "main"
    "footer";
}
.containerG{ /*for gallery*/
  display:grid;
  grid-template-columns: auto;
  grid-template-areas:
  "nav"
  "spacer"
  "header"
  "section"
  "main"
  "footer"
}
/*---------------------------Tablet Layout----------------------------*/
@media only screen and (min-width: 480px) {
   .spacer-area{
      height:75px;
   }
   .nestedgrid1 {
   
      display:grid;
      grid-template-columns: auto;
      grid-gap:1%;
      grid-template-areas:
      "intro"
      "dj"
      "services"
      "reviews";
   }
   .container1{
      display:grid;
       grid-template-columns: auto; 
       grid-template-areas:
       "nav"
       "spacer"
       "header"
       "figure"
       "main"
       "footer";
   }
   .containerG{ /*for gallery*/
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:
    "nav"
    "spacer"
    "header"
    "section"
    "main"
    "footer"
}
   header h1{
      font-size:3em;
      
    }
    
}

/*---------------------------Desktop Layout---------------------------*/
@media only screen and (min-width: 961px){
   .spacer-area{
      height:55px;
   }
   .nestedgrid1{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "intro intro intro"
      "dj services reviews";
   }
    .container1{ /*for home page*/
        display:grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-areas:
        "nav nav nav"
        "spacer spacer spacer"
        "header header figure"
        "main main main"
        "footer footer footer";
    }
    .containerG{ /*for gallery*/
      display:grid;
      grid-template-columns: auto;
      grid-template-areas:
      "nav"
      "spacer"
      "header"
      "section"
      "main"
      "footer"
  }
    .intro{
      text-align: left;
    }
    header h1{
      font-size:3em;
      
    }
    .swiper-container {
      height: 28vw;
  }
    
}
/*---------------------------Mobile and Tablet Layout----------------------------*/
@media only screen and (max-width: 480px) {
   header{
      padding-top:100px;
   }
}
@media only screen and (max-width:960px){
    nav{
        padding:20px;
    }
    nav label{
        display: initial;
        margin:10px;
    }
    nav .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#3131abe9;
        border-top: 1px solid navy;
        display:none;

    }
    nav .navbar ul li{
        width: 100%;
        border-top: 1px solid navy;

    }
    nav .navbar ul li ul{
        position:relative;
        width:100%;
    }
    nav .navbar ul li ul li{
        background:#4562a7
;
    }
    /* #menu-bar:checked ~ .navbar{
        display: initial;
    } */
    .menu-btn__burger {
      display:flex;
    }
    .menu-btn__burger::before {
      display:flex;
    }
    .menu-btn__burger::after {
      display:flex;
    }
    .navbar {
      display:none;
    }
    .navbar.on{
      display:initial;
    }
    .navbar.on a {
      min-width:100%;
    }

    
} 
@media only screen and(max-width:1050px) and(min-width:960px){
   nav {
      padding:10px;
    }
}
@media only screen and (max-width:1050px){
   nav {
      padding:10px;
    }
    nav .placeholder{
        display:none;
    }
    .logo{
        display:none;
        z-index:0;
    }
    .small-logo{
        display: initial;
        position:absolute;
        z-index:1000;
    }
}
