 /* Add a black background color to the top navigation */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
 }
 body {
    min-height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("dj-grayscale2.png");
    background-size: cover;
    background-attachment: fixed;
 }
 
 nav{
    position:fixed;
    top:0; left:0; right:0;
    background: #ffffff;
    padding:0px 7%;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    z-index:1000;
 }
 nav .logo{
    font-weight: bolder;
    font-size:25px;
    color:#333;
 }
 nav .navbar ul{
    list-style:none;
 }
 nav .navbar ul li{
    position:relative;
    float:left;
 }
 nav .navbar ul li a{
    font-size:20px;
    padding:20px;
    color:#333;
    display:block;
 }
 nav .navbar ul li a:hover{
    background:#333;
    color:#ffffff;
 }
 nav .navbar ul li ul{
    position:absolute;
    left:0;
    width:200px;
    background: #ffffff;
    display:none;
 }
 nav .navbar ul li ul li{
    width:100%; 
    border-top: 1px solid rgba(0,0,0,.1);

 }
 nav .navbar ul li:focus-within > ul,
 nav .navbar ul li:hover > ul{
    display: initial;
 }
 #menu-bar{
    display:none;
 }
 nav label{
    font-size: 20px;
    color:#333;
    cursor:pointer;
    display:none;
 }
/*---------------------------Mobile Layout----------------------------*/
/*---------------------------Tablet Layout----------------------------*/
/* @media only screen and (min-width: 480px)  {

} */


/*---------------------------Desktop Layout---------------------------*/
/* @media only screen and (min-width: 960px){

}*/
@media only screen and (max-width:991px){
    nav{
        padding:20px;

    }
    nav label{
        display: initial;
    }
    nav .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display:none;

    }
    nav .navbar ul li{
        width: 100%;

    }
    nav .navbar ul li ul{
        position:relative;
        width:100%;
    }
    nav .navbar ul li ul li{
        background:#eee;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}
