@font-face {
    font-family: "Open Sans";
    src: url(OpenSans-Regular.ttf)format("truetype")
}
 *, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none; 
 }
 body {
    height:100vh;
    background:#000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("dj-grayscale2.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 }
 .container1{
   display:grid;
 }
 
 nav{
    text-transform: capitalize;
    position:fixed;
    top:0; left:0; right:0;
    background:#3131abe9;
    padding:0px 7%;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    z-index:999;
    grid-area: nav;
 }
figure{
   padding:2%;
   grid-area:figure;
   display:flex;
   flex-direction: row;
   justify-content:center;
   
}
section{
  grid-area: section;
  
}
form {
  grid-area: form;
  /* position: relative; */
}
aside {
  grid-area:aside;
}
.sectionG {
  color:#95e712;
  padding:0 5%;
}
.sectionE {
  color:#fff;
  justify-items: center;
  align-items: center;
  padding:10px 2.5%;
  margin:10px 2.5%;
  background: #3131abe9;
  border-radius:4px;
}

.sectionE h2{
  color: #95e712;
  font-size: 2em;
  
}
.sectionE p {
  font-size: 1.25em;
}
video {
width:426px;
max-width:100%;
min-height:240px; 
border: 1px solid #3231ab;
border-radius:3px;
} 
audio {
   border: 1px solid #3231ab;
   border-radius:3px;
}
video[poster]{
   object-fit:cover; 
}
 header{
    grid-area:header;
    padding:5%;
    text-align: center;
 }
 header h1 {
  transform: translateX(.2em);
  animation:words 1.5s;
 }
 @keyframes words {
  0% {
     opacity: 0;
     transform: translateY(.75em);
  }
   50% {
     opacity: 1;
     transform: translateX(.2em);
  }
  100% {
     opacity: 1;
     transform: translateX(.2em);
  }
}
 .headerG {
  padding:1% 5%
 }
 .headerE{
  text-align: center;
  padding:20px 5%;
 }
 .headerA {
  text-align: center;
 }


 header h1{
    color: white;
    
  }
  /* header div{
    margin:5% 5%;
  } */ 
  #facebook{
    margin-left:2%;
    /* transition: 0.2s ease-in-out; */
  }
  /* #facebook:hover{
    transform: translateY(-10px);
  } */
 main{
    grid-area:main;
    margin-bottom:1%;
    color:#ffffff;
    padding:1%;
 }
 .nestedgridE h2{
  text-align:center;
 }
 .area2 p {
  text-align: center;
 }
 .nestedgridE div h2 {
  color: #95e712;
 }
 .nestedgridE div p {
  font-size: 1.25em;
 }
 footer , .footerE{
    grid-area:footer;
    color:white;
    background-color:#3131abe9;
    text-align:center;
    margin-top:4%;
  }








  /*---------------------------For Nav----------------------------*/
 nav .placeholder{
    font-weight:bolder;
    font-size:25px;
    
    color:transparent;
 }
 .logo{
    position:absolute;
    top:5px;
    left:20px;
    height:35px;
    z-index:1000;
 }
 .small-logo{
    display:none;
    top:5px;
    left:10px;
    height:50px;
    z-index:1000;
 }
 .active{
    background:navy;
 }
 
 nav .navbar ul{
    list-style:none;
    
 }
 nav .navbar ul li{
    position:relative;
    float:left;
 }
 nav .navbar ul li a{
    font-size:20px;
    padding:10px 20px;
    color:#ffffff;
    display:block;
 }
 nav .navbar ul li a:hover{
    background:navy;
    color:#ffffff;
 }
 nav .navbar ul li ul{
    position:absolute;
    left:0;
    width:200px;
    /* background: #3131abe9; */
    /* display:none; */
 }
 nav .navbar ul li ul li{
    width:100%; 
    border-top: 1px solid navy;
    background:#4562a7;
    display:none; 
    opacity:0;

 }
 nav .navbar.touch ul li:focus-within > ul{
   display: initial;
 }
 nav .navbar ul li:hover > ul{
    display: initial;
 }
 nav .navbar.touch ul li:focus-within > .dropdown-menu2 > li{
   display: initial;
 }
 nav .navbar ul li:hover > .dropdown-menu2 > li{
    display: initial;
 }
 /* .dropdown-menu2 > li {
   display:none;
 } */

 nav .navbar.touch ul li:focus-within > .dropdown-menu1 > li{
   display: initial;
 }
 nav .navbar ul li:hover > .dropdown-menu1 > li{
    display: initial;
 }

 .dropdown-menu1 > .dropdown-item1 {
   transform-origin: top center;
   animation: translateY 300ms 70ms ease-in-out forwards;
 }

 .dropdown-menu2 > .dropdown-item1 {
   transform-origin: top center;
   animation: translateY 300ms 45ms ease-in-out forwards;
 }
 .dropdown-menu2 > .dropdown-item2 {
   transform-origin: top center;
   animation: translateY 300ms 90ms ease-in-out forwards;
 }
 .dropdown-menu2 > .dropdown-item3 {
   transform-origin: top center;
   animation: translateY 300ms 135ms ease-in-out forwards;
 }
 .dropdown-menu2 > .dropdown-item4 {
   transform-origin: top center;
   animation: translateY 300ms 170ms ease-in-out forwards;
 }
 @keyframes translateY{
   0% {
      
      opacity: 0;
      transform: translateY(0px);
   }
   80% {
      opacity: 1;
      transform: translateY(0px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
      display:initial;
   }
 } 

 @keyframes translateX{
  0% {
     
     opacity: 0;
     transform: translateX(70px);
  }
  80% {
     opacity: 0;
     transform: translateX(-10px);
  }
  100% {
     opacity: 1;
     transform: translateX(0px);
     display:initial;
  }
} 
 /* #menu-bar{
    display:none;
 } */
 .menu-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   cursor: pointer;
   transition: all .35s ;
   /* border: 3px solid #fff; */
 }
 .menu-btn__burger {
   display: none;
   width: 40px;
   height: 6px;
   background: #fff;
   border-radius: 5px;
   
   transition: all .35s ;
 }
 .menu-btn__burger::before{
   display:none;
 }
 .menu-btn__burger::before,
 .menu-btn__burger::after {
   display:none;
   content: '';
   position: absolute;
   width: 40px;
   height: 6px;
   background: #fff;
   border-radius: 5px;
   transition: all .35s ;
 }
 .menu-btn__burger::before {
   transform: translateY(-16px);
 }
 .menu-btn__burger::after {
   transform: translateY(16px);
 }
 /* ANIMATION */
 .menu-btn.open .menu-btn__burger {
   transform: translateX(-40px);
   background: transparent;
   box-shadow: none;
 }
 .menu-btn.open .menu-btn__burger::before {
   transform: rotate(45deg) translate(35px, -35px);
 }
 .menu-btn.open .menu-btn__burger::after {
   transform: rotate(-45deg) translate(35px, 35px);
 }

 nav label{
    font-size: 20px;
    color:#ffffff;
    cursor:pointer;
    display:none;
 }





 .spacer-area span{
   color:transparent;
 }









 /*---------------------------For Homepage main----------------------------*/
 .intro{
   grid-area: intro;
   padding:5px;
   text-align:center;
   background: #3131abe9;
   border-radius: 4px;
 }
 .intro p{
   font-size:1.25em;
 }
 .DJ{
   grid-area:dj;
   background: #3131abe9;
   border-radius: 4px;
   margin-top: 4px;
   padding:4px;
 }
 .services{
   grid-area:services;
   background: #3131abe9;
   border-radius: 4px;
   margin-top: 4px;
   padding:4px;
 }
 .reviews{
   grid-area:reviews;
   background: #3131abe9;
   border-radius: 4px;
   margin-top: 4px;
   padding:4px;
 }
 .plus {
   color:lime;
 }
 
 
 #homevid {
   grid-area: homevid;
 }
 #homesong{
   grid-area: homesong;
 }

/*---------------------------For Swiper----------------------------*/
.swiper-container {
  width: 100vw;
  height: 56vw;
  transition: opacity .6s ease;
  
  }
  
  .swiper-container.swiper-container-coverflow {
  padding-top: 2%;
  }
  
  .swiper-container.loading {
  opacity: 0;
  visibility: hidden;
  }
  
  .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  }
  
  .swiper-slide {
  background-position: center;
  background-size: cover;
  
  }
  
  .swiper-slide .entity-img {
      display: none;
  }
  
  .swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
  background:#00000086
  }
  
  .swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
  
  }
  
  .swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  }
  
  [class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  }
  
  .swiper-button-prev {
  transform: translateX(50px);
  }
  
  .swiper-button-next {
  transform: translateX(-50px);
  }

 /* .emptydiv {
   color:transparent;
   grid-area:emptydiv;
 } */
 /* .figuregrid {
   grid-template-columns: auto;
   grid-template-areas: 
   "homevid"
   "hoemsong";
} */
.green{
  color: #95e712;
  text-decoration: underline;
}
.area1 {
  grid-area: area1;
  padding:0% 5% 5% 5%
}
.area1 div{
  margin-top:4%;
  background: #3131abe9;
  padding:2%;
  border-radius: 4px;
}
.area1 h2{
  color:#95e712;
}
.area2 {
  grid-area: area2;
}
.area2 .img-container{
  padding:0 6% 6% 6%;
}
.area2 .img-container div {
  background-image: url("DJPic1.jpg");
  background-position: center;
  background-size: cover;
  height:300px;
}
.area2 img {
  display:none;
}
.area3 {
  grid-area: area3;
  position: relative;
}
.area3 .img-container{
  padding:0 6% 6% 6%;
}
.area3 .img-container div {
  background-image: url("gallery2.jpg");
  background-position: center;
  background-size: cover;
  height:300px;
}
.area3 img {
  display:none
}
.area4 {
  grid-area: area4;
}
.area4 .img-container{
  padding:0 6% 6% 6%;
}
.area4 .img-container div {
  background-image: url("gallery4.jpg");
  background-position: center;
  background-size: cover;
  height:300px;
}
.area4 img {
  display:none;
}
.area5 {
  grid-area: area5;
}
.area5 .img-container{
  padding:0 6% 6% 6%;
}
.area5 .img-container div {
  background-image: url("gallery3.jpg");
  background-position: center;
  background-size: cover;
  height:300px;
}
.area5 img {
  display: none;
}
.area6 {
  grid-area: area6;
}
.area6 .img-container{
  padding:0 6% 6% 6%;
}
.area6 .img-container div {
  background-image: url("gallery6.jpg");
  background-position: center;
  background-size: cover;
  height:300px;
}
.area6 img {
  display: none;
}


.img__description_layer {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:300px;

  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap .highlight:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}
.area2 .highlight:hover .img__description_layer{
  background-image: linear-gradient(to left bottom, rgba(36, 62, 206, 0.6), rgba(87, 206, 36, 0.6)), url("DJPic1.jpg");
}
.area3 .highlight:hover .img__description_layer{
  background-image: linear-gradient(to left bottom, rgba(36, 62, 206, 0.6), rgba(87, 206, 36, 0.6)), url("gallery2.jpg");
}
.area4 .highlight:hover .img__description_layer{
  background-image: linear-gradient(to left bottom, rgba(36, 62, 206, 0.6), rgba(87, 206, 36, 0.6)), url("gallery4.jpg");
}
.area5 .highlight:hover .img__description_layer{
  background-image: linear-gradient(to left bottom, rgba(36, 62, 206, 0.6), rgba(87, 206, 36, 0.6)), url("gallery3.jpg");
}
.area6 .highlight:hover .img__description_layer{
  background-image: linear-gradient(to left bottom, rgba(36, 62, 206, 0.6), rgba(87, 206, 36, 0.6)), url("gallery6.jpg");
}


.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__description {
  text-decoration: underline;
}

.area2:hover .img__description {
  transform: translateY(0);
}
.container2 header {
  padding:5% 20%;
  text-align: center;
}
.container2 figure {
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.container2 figure figcaption {
  font-size: 2em;
  color:#95e712;
}
.container2 figure img{
  max-width:100%;
  display: block;
  margin: 0 auto;
}
.container2 main {
  padding:5% 5% 0% 5%;
  
}
.container2 main div{
  padding:3%;
  background: #3131abe9;
  border-radius: 4px;
}
.container2 main div p {
  font-size: 1.5em;
  
}
.container2 section {
  color:#fff;
  background: #3131abe9;
  border-radius: 4px;
  margin:1%;
  padding:1%;
}
.container2 p{
  font-size: 1.25em;
}
.containerA figure img {
  max-width: 80%;
  align-self: center;
}
.containerA main {
  font-size: 1.3em;
  padding:0 3%;
  margin-top:5%;
}
.containerA main div {
  margin-top:3%;
  padding:3%;
  background: #3131abe9;
  border-radius: 4px;
}
.containerA main article{
  margin-top:3%;
  padding:3%;
  background: #3131abe9;
  border-radius: 4px;
}
.containerA main article h2{
  color:#95e712;
}
.containerA section {
  padding:0 3%;
  color:#fff;
}
.containerA section div {
  padding:3%;
  background: #3131abe9;
  border-radius: 4px;
}
.containerP aside{
  padding:3%;
}
.containerP aside div{
  padding:2%;
  background: #3131abe9;
  border-radius: 4px;
  color:#fff;
  font-size: 1.25em;
}
.containerP main figure{
  border:1px solid #3231ab;
  border-radius: 4px;
  height:25vw;
  position:relative;
  background-image: radial-gradient(rgb(20, 20, 20, .8), rgb(0, 0, 0, .7));
  
}
.containerP main figure .list-wrapper {
  position:absolute;
  max-height: 80%;
  overflow: scroll;
  z-index: 999;
  left:0;
  top:20%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
.containerP main figure .list-wrapper.open{
  z-index: 998;
  visibility: visible;
  opacity: 1;
}
.containerP main figure .list-wrapper ul{
  transition: .5s;
  transform: translateY(30em);
}

.containerP main figure .list-wrapper.open ul{
  transform: translateY(0);
}
.containerP main figure .list-wrapper ul{
  margin-left: 5%;
  max-width:100%;
  line-height: 2em;
  color:black;
  
}

.containerP main figure .info{
  color:black;
  min-width: 100%;
  height:5vw;
  background: rgba(150, 232, 17, .9);
  position:absolute;
  bottom:0;
  border-bottom-left-radius:4px;
  border-bottom-right-radius: 4px;
  transition: .5s ease-in-out;
  display:flex;
  align-items: center;
  padding: 5px 0 5px 0;
  /* flex-wrap: wrap; */
  /* display:grid;
  grid-template-columns:auto;
  grid-template-areas: 
  "package-title"
  "package-description"; */
}

.containerP main figure .info.open{
  height: 25vw;
  border-radius: 4px;
  /* align-items: revert; */
}
.containerP main figure .info.open h2 {
  margin-top: 10px;
  transition: .5s ease-in-out;
}

.containerP main figure .info.open button #arrow1{
  transition: .5s ease-in-out;
  transform: rotate(180deg);
}

.containerP main figure .info.open button #arrow2{
  transition: .5s ease-in-out;
  transform: rotate(180deg);
}

.containerP main figure .info.open button #arrow3{
  transition: .5s ease-in-out;
  transform: rotate(180deg);
}
/* .containerP main figure .info:hover {
  height:25vw;
  border-radius: 4px;
} */
.containerP main figure .info h2{
  margin:5px;
  transition: .5s ease-in-out;
}
.silver {
  grid-area: silverPack;
  padding:0;
}
.silver img{
  width:19vw;
}
#silverButton {
  height:3.5em;
  width:7.5em;
  top:50%;
  margin-left:auto;
  margin-right:2%;
  border:2px solid black;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  color:black;
  font-size:1rem;
}


.gold {
  grid-area: goldPack;
  padding:0;
}
.gold img{
  width:19vw;
}
#goldButton {
  height:3.5em;
  width:7.5em;
  top:50%;
  margin-left:auto;
  margin-right:2%;
  border:2px solid black;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  color:black;
  font-size:1rem;
  
}
.platinum {
  grid-area: platinumPack;
  padding:0;
}
.platinum img{
  width:19vw;
}
#platButton {
  height:3.5em;
  width:7.5em;
  top:50%;
  margin-left:auto;
  margin-right:2%;
  border:2px solid black;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  color:black;
  font-size:1rem;
}

#arrow1{
  width:1em;
  transition: .5s ease-in-out;
}
#arrow1 {
  transform:translateY(5%);
}

#arrow2{
  width:1em;
  transition: .5s ease-in-out;
}
#arrow2 {
  transform:translateY(5%);
}

#arrow3{
  width:1em;
  transition: .5s ease-in-out;
}
#arrow3 {
  transform:translateY(5%);
}
.leftul {
  grid-area: leftul;
  margin-left:10%;
}
.rightul {
  grid-area: rightul;
  
}
.formhead {
  grid-area: formhead;
}
.nestedgridC {
  background: #3131abe9;
  margin:10px;
  border-radius: 4px;
}
.nestedgridC h3{
  color:#95e712;
  text-align: center;
}
.nestedgridC ul {
  list-style-type: none;
  font-size: 1.25em;
}
form .div1{
  margin-left:0%;
  color:white;
  width:75%
}
form input {
  width:100%;
}
.containerRES main p {
  font-size: 1.25em;
}
.res-paragraph {
  grid-area: res-paragraph;
  background: #3131abe9;
  border-radius: 4px;
  padding:3%;
}
.library {
  grid-area: library;
  background: #3131abe9;
  border-radius: 4px;
  padding:1% 1% 1% 3%;
}
.planning-form {
  grid-area: planning-form;
  background: #3131abe9;
  border-radius: 4px;
  padding:1% 1% 1% 3%;
}
.containerRES footer {
  margin-top:8%;
}
.review {
  background: #3131abe9;
  margin: 1% 0 1% 0;
  padding:1%;
  border-radius: 4px;
  opacity: 1;
  /* transition: opacity 250ms ease-in; */
}
.review span {
  color:#95e712;
}

/* .review.appear{
  opacity: 1;
  z-index:999;
  
} */
.review p {
  font-size: 1.15em;
}


 /* .package-title{
  display:flex;
  align-items: center;
  grid-area: package-title;
  position: absolute;
 }
 .package-description {
  grid-area: package-description;
  margin-top: 0;
  margin-bottom: auto;
  position: absolute;
  visibility: hidden;
 } */

/* .package-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .35s ;
  /* border: 3px solid #fff; 
}
.package-btn__line {
  display: flex;
  width: 30px;
  height: 6px;
  background: black;
  border-radius: 5px;
  transition: all .35s ;
  transform: rotate(-45deg)
}
.package-btn__line::after {
  display:flex;
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  background: black;
  border-radius: 5px;
  transition: all .35s ;
  transform: translateX(13px) translateY(13px) rotate(90deg);
}

.package-btn.open .package-btn__line {
  transform: translateX(-40px);
  background: transparent;
  box-shadow: none;
}
.package-btn.open .package-btn__line::after {
  transform: rotate(-45deg) translate(35px, 35px);
}*/

/*---------------------------Mobile Layout----------------------------*/
.spacer-area{
   grid-area:spacer;
   height:0;
}
.nestedgridA {
  grid-area: nestedA;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
  "header"
  "figure";
}
.nestedgrid1 { /* for home*/
   
   display:grid;
   grid-template-columns: auto;
   grid-gap:1%;
   grid-template-areas:
   "intro"
   "dj"
   "services"
   "reviews";
}
.nestedgridE { /* for events */
   
  display:grid;
  grid-template-columns: auto;
  grid-gap:1%;
  grid-template-areas:
  "area1"
  "area2"
  "area3"
  "area4"
  "area5"
  "area6";
}
.nestedgridP {
  display: grid;
  grid-template-columns: auto;
  grid-gap:1%;
  grid-template-areas: 
  "silverPack"
  "goldPack"
  "platinumPack";
}
.nestedgridC {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "formhead formhead"
  "leftul rightul";
}
.nestedgridRES {
  display: grid;
  
  grid-template-columns:auto;
  grid-gap: 3%;
  grid-template-areas: 
  "res-paragraph"
  "library"
  "planning-form";
}
.container1{ /*for home*/
   display:grid;
    grid-template-columns: auto; 
    grid-template-areas:
    "nav"
    "spacer"
    "header"
    "figure"
    "main"
    "footer";
}
.container2{ /*for weddings, celebrations, corporate, and occasions*/
  display:grid;
   grid-template-columns: auto; 
   grid-template-areas:
   "nav"
   "spacer"
   "header"
   "main"
   "figure"
   "section"
   "footer";
}
.containerE{ /* for events */
  display:grid;
   grid-template-columns: auto; 
   grid-template-areas:
   "nav"
   "spacer"
   "header"
   "section"
   "main"
   "footer";
}
.containerG{ /*for gallery*/
  display:grid;
  grid-template-columns: auto;
  grid-template-areas:
  "nav"
  "spacer"
  "header"
  "section"
  "main"
  "footer"
}
.containerA{ /*for events*/
  display:grid;
   grid-template-columns: auto; 
   grid-template-areas:
   "nav"
   "spacer"
   "nestedA"
   "main"
   "section"
   "footer";
}
.containerP {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "nav"
  "spacer"
  "header"
  "aside"
  "main"
  "footer";
}
.containerC {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "nav"
  "spacer"
  "header"
  "main"
  "form"
  "footer";
}
form {
  position: initial;
  margin-left:15%;
}
form .div1{
  position: initial;
}

/*---------------------------Tablet Layout----------------------------*/
@media only screen and (min-width: 480px) {
   .spacer-area{
      height:75px;
   }
   .nestedgrid1 { /*for home*/
   
      display:grid;
      grid-template-columns: auto;
      grid-gap:1%;
      grid-template-areas:
      "intro"
      "dj"
      "services"
      "reviews";
   }
   .nestedgridE { /* for events */
   
    display:grid;
    grid-template-columns: auto;
    grid-gap:1%;
    grid-template-areas:
    "area1"
    "area2"
    "area3"
    "area4"
    "area5"
    "area6";
  }
  .nestedgridP {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "silverPack"
    "goldPack"
    "platinumPack";
  }
  .nestedgridC {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "formhead formhead"
    "leftul rightul";
  }
  .nestedgridRES {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "res-paragraph library"
    "res-paragraph planning-form";
  }
   .container1{ /*for home*/
      display:grid;
       grid-template-columns: auto; 
       grid-template-areas:
       "nav"
       "spacer"
       "header"
       "figure"
       "main"
       "footer";
   }
   .container2{ /*for weddings, celebrations, corporate, and occasions*/
    display:grid;
     grid-template-columns: auto; 
     grid-template-areas:
     "nav"
     "spacer"
     "header"
     "main"
     "figure"
     "section"
     
     "footer";
 }
   .containerG{ /*for gallery*/
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:
    "nav"
    "spacer"
    "header"
    "section"
    "main"
    "footer"
}
.containerE{ /*for events*/
  display:grid;
   grid-template-columns: auto; 
   grid-template-areas:
   "nav"
   "spacer"
   "header"
   "section"
   "main"
   "footer";
}
.containerA{ /*for events*/
    display:grid;
     grid-template-columns: auto; 
     grid-template-areas:
     "nav"
     "spacer"
     "nestedA"
     "main"
     "section"
     "footer";
  }
  .containerP {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "nav"
    "spacer"
    "header"
    "aside"
    "main"
    "footer";
  }
  .containerC {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "nav"
    "spacer"
    "header"
    "main"
    "form"
    "footer";
  }

   header h1{
      font-size:3em;
      
    }
  /* form {
    position: initial;
    margin-left: 25%;
  }
  form .div1{
    position: initial;
  } */
}


/*---------------------------Desktop Layout---------------------------*/
@media only screen and (min-width: 961px){
   .spacer-area{
      height:55px;
   }
   .nestedgrid1{ /*for home*/
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "intro intro intro"
      "dj services reviews";
   }
   .nestedgridE { /* for events */
   
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1%;
    grid-template-areas:
    "area1 area2"
    "area3 area4"
    "area5 area6";
  }
  .nestedgridP {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "silverPack goldPack platinumPack";
  }
  .nestedgridC {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "formhead formhead"
    "leftul rightul";
  }
  .nestedgridRES {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "res-paragraph library"
    "res-paragraph planning-form";
  }
    .container1{ /*for home page*/
        display:grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-areas:
        "nav nav nav"
        "spacer spacer spacer"
        "header header figure"
        "main main main"
        "footer footer footer";
    }
    .container2{ /*for home page*/
      display:grid;
      grid-template-columns: 1fr 1fr auto;
      grid-template-areas:
      "nav nav nav"
      "spacer spacer spacer"
      "header figure figure"
      "main figure figure"
      "section section section"
      "footer footer footer";
  }
    .containerG{ /*for gallery*/
      display:grid;
      grid-template-columns: auto;
      grid-template-areas:
      "nav"
      "spacer"
      "header"
      "section"
      "main"
      "footer"
  }
  .containerE{ /*for events*/
    display:grid;
     grid-template-columns: 1fr 1fr 1fr; 
     grid-template-areas:
     "nav nav nav"
     "spacer spacer spacer"
     "header section section"
     "main main main"
     "footer footer footer";
  }
  .containerA{ /*for events*/
    display:grid;
     grid-template-columns: 1fr 1fr; 
     grid-template-areas:
     "nav nav"
     "spacer spacer"
     "nestedA main"
     "nestedA section"
     "footer footer";
  }
  .containerP {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "nav nav"
    "spacer spacer"
    "header aside"
    "main main"
    "footer footer";
  }
  .containerC {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "nav nav"
    "spacer spacer "
    "header header "
    "main form"
    "footer footer";
  }
    .intro{
      text-align: left;
    }
    header h1{
      font-size:3em;
      
    }
    .swiper-container {
      height: 28vw;
  }
  
  /* form {
    position: relative;
    margin-left: 0;
  }
  form .div1{
    position: absolute;
  } */
  
}
/*---------------------------Mobile and Tablet Layout----------------------------*/
@media only screen and (max-width: 480px) {
   header, .headerG, .headerE, .header2{
      padding-top:100px;
   }
   .swiper-slide .content .title {
    font-size: 1.9em;
  }
  .area2 .img-container{
    padding:0 4% 4% 4%;
  }
  .area2 .img-container div {
    height:250px;
  }
  .area3 .img-container{
    padding:0 4% 4% 4%;
  }
  .area3 .img-container div {
    height:250px;
  }
  .area4 .img-container{
    padding:0 4% 4% 4%;
  }
  .area4 .img-container div {
    height:250px;
  }
  .area5 .img-container{
    padding:0 4% 4% 4%;
  }
  .area5 .img-container div {
    height:250px;
  }
  .area6 .img-container{
    padding:0 4% 4% 4%;
  }
  .area6 .img-container div {
    height:250px;
  }
  #silverButton {
    height:3em;
  }
  #goldButton {
    height:3em;
  }
  #platButton {
    height:3em;
  }
  
}
@media only screen and (max-width:960px){
    nav{
        padding:20px;
    }
    nav label{
        display: initial;
        margin:10px;
    }
    nav .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#3131abe9;
        border-top: 1px solid navy;
        display:none;

    }
    nav .navbar ul li{
        width: 100%;
        border-top: 1px solid navy;

    }
    nav .navbar ul li ul{
        position:relative;
        width:100%;
    }
    nav .navbar ul li ul li{
        background:#4562a7;
    }
    /* #menu-bar:checked ~ .navbar{
        display: initial;
    } */
    .menu-btn__burger {
      display:flex;
    }
    .menu-btn__burger::before {
      display:flex;
    }
    .menu-btn__burger::after {
      display:flex;
    }
    .navbar {
      display:none;
    }
    .navbar.on{
      display:initial;
    }
    .navbar.on a {
      min-width:100%;
    }
    .footerE{
      margin-top:20%;
    }
    .containerP main figure{
      height:50vw;
    }
    .silver img{
      width:38vw;
    }
    .gold img{
      width:38vw;
    }
    .platinum img{
      width:38vw;
    }
    .containerP main figure .info{
      height:10vw;
    }
    .containerP main figure .info.open {
      height:50vw;
      border-radius: 4px;
    }
} 
@media only screen and (max-width:1050px) and (min-width:960px){
   nav {
      padding:10px;
    }
}
@media only screen and (max-width:1050px){
   nav {
      padding:10px;
    }
    nav .placeholder{
        display:none;
    }
    .logo{
        display:none;
        z-index:0;
    }
    .small-logo{
        display: initial;
        position:absolute;
        z-index:1000;
    }
}



